.heading{
    width:100%;
    max-width: 1180px;
    margin: auto;
}

.subHeading h1{
margin-bottom: 40px;
font-weight: 600;
font-size: 32px;
color: #082346;
line-height: 48px;
}

.heading2{
font-weight: 600;
font-size: 18px;
line-height: 27px;
}

.offerImage{
height: 200px;
width: 200px;
border-radius: 12px;
}

.offerDetails{
display: flex;
}

.offerProperties{
margin-left: 40px;
line-height: 3px;
margin-top: -13px;
}

.properties1{
    font-weight: 650;
    font-size: 16px;
    line-height: -19px;
    color: #121212;
    }

.lineHeight{
    color: #484848;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}

.lineHeight1{
    font-weight: 650;
    font-size: 16px;
    color: #000000;
}

.subHeading{
font-weight: 600;
font-size: 16px;
color: #484848;
}

.offerVerify{
    color: #42A54C;
}

.verifyImage{
    width: 15px;
    height: 15px;
    object-fit: contain;
    margin-left: 15px;
}

/* ------------------------------- */
.offerInput1{
    margin-top: 40px !important;
    display: flex;
    align-items: center;
    position: relative;
    }



.offerInput1 h5{
    padding-right: 150px;
    font-size: 14px;
    }

/*--------------------------------------------- */
.offerInput{
margin-top: 40px;
display: flex;
align-items: center;
position: relative;
}

.offerInput h5{
padding-right: 150px;
}

.firstDiv1{
    position: absolute;
    left: 240px;    
}

.secondDiv1{
    position: absolute;
    left: 455px;    
}

.thirdDiv1{
    position: absolute;
    left: 670px;   
}
.forthDiv1{
    position: absolute;
    left: 495px;  
}




.firstInput1{  
    height: 30px;  
    font-size: 15px;

}

.secondInput1{
height: 30px;
font-size: 15px;

}

.thirdInput1{
    width: 83px;
    height: 30px;
    font-size: 15px;
    }

.firstTitle{
    color: #808080;
    position: absolute;
    bottom: -40px;
  white-space: nowrap;
}

.thirdSelect{
    height: 35px; 
    width: 127px;  
}

.firstSelect{
    margin-right: 25px;
    height: 36px;
}

.firstSelect1{
    margin-right: 30px;
    height: 36px;
    position: absolute;
    left: 240px;
    width: 57px;
}

.firstSelet1{
    margin-right: 30px;
    height: 36px;
    position: absolute;
    left: 240px;
    width: 120px;
}

.thirdSelect1{
    height: 35px; 
    width: 120px;
    position: absolute;
    left: 740px;  
}
.secondSelect{
    height: 35px; 
}


.calendar{
position: absolute;
left: 240px;
bottom: -340px;
border: 1px solid black;
height: 345px;
z-index: 1;
}

.offerBox1{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 119px;
height: 117px;
line-height: 3px;
position: absolute;
bottom: -153px;
left: 240px;
border: 1px solid black;
border-radius: 12px;
}

.offerBox2{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 119px;
height: 117px;
line-height: 3px;
position: absolute;
bottom: -153px;
left: 385px;
border: 1px solid black;
border-radius: 12px;
}

.offerBox3{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 119px;
height: 117px;
line-height: 3px;
position: absolute;
bottom: -153px;
left: 530px;
border: 1px solid black;
border-radius: 12px;
}
/* ----------------------------------- */
.inputGap{
    margin-top: 200px !important;
    display: flex;
    align-items: center;
    position: relative;
    }

    .inputGap h5{
        font-size: 14px;
        }


.forthSelect{
    position: absolute;
    left: 310px;
    height: 35px;
    width: 57px;
    }

.fifthSelect{
    position: absolute;
    left: 380px;
    height: 35px;
    width: 67px;
    }

.offerTitle{
    position: absolute;
    left: 630px;
    white-space: nowrap;
}

.sixthInput{
    position: absolute;
    left: 770px;
     height: 35px; 
     width: 57px;
}
/* ----------------------------------- */
.underLine1{
    margin-top: 30px;
    height: 2px;
    width: 863px;
    background-color: black;
}

.buttonSet{
    width: 863px;
    margin-top: 45px;
    margin-bottom:50px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.buttonReset1{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #082346;
border-radius: 12px;
background: #FFFFFF;
padding: 16px 24px;
width: 185px;
height: 62px;
color: #082346;
font-weight: 600;
font-size: 20px;
line-height: 30px;
cursor: pointer;
}

.buttonContinue1{
    /* position: absolute;
    right: 0; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #082346;
    border-radius: 12px;
    background: #082346;
    padding: 16px 24px;
    width: 185px;
    height: 62px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    }

@media(max-width:1250px){
.subHeading h1{
margin-left: 40px;
}

.heading2{
margin-left: 40px;
}

.offerImage{
margin-left: 40px;
}


.offerInput1{
margin-left: 40px;
}

.inputGap{
margin-left: 40px;
margin-top: 180px;
}

.underLine1{
margin-left: 40px;
}

.buttonSet{
margin-left: 40px;
}
}


@media(max-width:960px){
    .subHeading h1{
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
        }
        
    .heading2{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    }
        
    .offerImage{
    height: 160px;
    width: 160px;
    }


    .properties1{
        font-size: 13px; 
        }
    
    .lineHeight{
        font-size: 13px;
    }
    
    .lineHeight1{ 
        font-size: 13px;  
    }
    
    .subHeading{
    font-size: 13px;
    }

    .firstDiv1{
        left: 200px;    
    }
    
    .secondDiv1{
        left: 415px;    
    }
       

    .offerInput1{
        margin-top: 14px !important;
        }

        .thirdDiv1{
        
            left: 620px;   
        }

        .forthDiv1{
            left: 455px;  
        }

        .firstSelect1{
            left: 200px;
        }

        .forthSelect{
            left: 270px;
            }
        
        .fifthSelect{
            left: 340px;
            }

            .offerTitle{
                left: 590px;
            }

            .firstSelet1{
               
                left: 200px;
                
            }
            
            .offerBox1{
                left: 200px;
                }
                
                .offerBox2{
                left: 345px;
                }
                
                .offerBox3{
                left: 490px; 
                }


                .firstTitle{
font-size:10px;
                }
}


@media(max-width:900px){
    .offerTitle{
        left: 500px;
    }
    .thirdSelect1{
        left: 630px;  
    }

    .sixthInput{
        left: 630px;
    }


    .underLine1{
        width: 793px; 
    }


    .buttonSet{
        width: 793px;
    }
}